// Option border
.ant-select-item-option {
  font-size: 70%;
}
.ant-select-focused {
  border-color: orange !important;
  .ant-select-selector {
    border-color: orange !important;

    &:hover,
    &:focus,
    &:active {
      border-color: orange !important;
      box-shadow: 0 0 0 2px rgba(221, 7, 7, 0.2);
    }
  }
}
.ant-select {
  border-color: orange;
  .ant-select-selector {
    .ant-select-selection-placeholder {
      color: rgb(59, 58, 58);
    }
  }
}
