.course-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    overflow: hidden;
  }
 
.display-List {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.display-List li {
  width: 48%;
}
.course-item{
  display: inline-block;
}


  .course-list li button {
    background-color: #3e8e81;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 13px;
    margin-right: 10px;
    padding: 10px 20px;
    position: relative ;
    right: 20px;
    top: 20px;
    transition: all 0.3s ease-in-out;
  }

  /* Modal Container */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal Content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 500px;
}

/* Input Labels */
.modal-content label {
  display: block;
  margin-bottom: 10px;
}

/* Input Fields */
.modal-content input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

/* Submit Button */
.modal-content button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

/* Cancel Button */
.modal-content button[type="reset"] {
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}
.course-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 40px;
}


.course-actions button {
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.course-actions button:hover {
  background-color: #aaa;
}

