.payment-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }
  
  .payment-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .pay-button {
    display: block;
    width: 100
  }  
  .image-container img {
    display: inline-block; /* or float: left; */
    width: 33.33%;
    /* adjust the width according to the number of images you have */
    box-sizing: border-box;
    padding: 15px;
  }
  
  .image-container img {
    display: inline-block;
    margin-right: 50px; /* adjust the spacing between images */
  }

  .flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-row > div {
    margin-right: 1rem;
  }
  
  input[type="radio"] {
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    transition: all 0.2s ease-in-out;
  }
  
  input[type="radio"]:checked {
    background-color: #1a202c;
    border-color: #1a202c;
  }
  
  label {
    font-size: 1.2rem;
    
  }
  
  .popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .popup-overlay {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .popup-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .progress-bar {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
  }
   
  .step {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
    border: 4px solid #fff;
    border-radius: 50%;
    background-color: #efefef;
  }
   
  .step:after {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 22px;
    width: 100px;
    height: 6px;
    content: '';
    background-color: #efefef;
  }
   
  .step:before {
    color: #2e2e2e;
    position: absolute;
    top: 40px;
  }
   
  .step:last-child:after {
    content: none;
  }
   
  .step.active {
    background-color: #5ba2d1;
  }
  .step.active:after {
    background-color: #5ba2d1;
  }
  .step.active:before {
    color: #5ba2d1;
  }
  .step.active + .step {
    background-color: #5ba2d1;
  }
  .step.active + .step:before {
    color: #5ba2d1;
  }
   
  .step:nth-child(1):before {
    content: 'Cart';
  }
  .step:nth-child(2):before {
    right: -40px;
    content: 'Confirmation';
  }
  .step:nth-child(3):before {
    right: -30px;
    content: 'Payment';
  }
  .step:nth-child(4):before {
    right: -10px;
    content: 'Finish';
  }
  
  .step {
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .step.active {
    background-color: #5ba2d1;
    border-color: #5ba2d1;
  }
  

  