.quiz-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .quiz-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .quiz-container form {
    display: flex;
    flex-direction: column;
  }
  
  .quiz-container label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .quiz-container input,
  .quiz-container select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .quiz-container button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .quiz-container button:hover {
    background-color: #45a049;
  }
  
  .quiz-container input[type='text']:focus,
  .quiz-container select:focus {
    outline: none;
    border-color: #4caf50;
  }
  