.notification-container {
  cursor: pointer;

  .ant-dropdown-menu {
    min-width: 18vh !important;
    background-color: red;
  }
  .ant-dropdown-menu-item-active:hover {
    background-color: green;
  }
}
