.feedback-container {
  height: 80vh;
  background-color: #e4ebf5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .yellow-line {
    width: 9vw;
    margin-left: 48vw;
    margin-top: -1%;
  }
  .title {
    margin-top: 2%;
    font-size: 3vw;
    font-weight: bold;

    .word2 {
      color: #4e73b0;
    }
  }
  .subtitle {
    font-size: 1.2vw;
    color: grey;
  }
  .subtitle2 {
    font-size: 1.2vw;
    color: grey;
  }
  .reviews {
    margin-top: 2%;
    margin-bottom: 4%;
    .review-container {
      background-color: white;
      border-radius: 25px;
      width: 100%;
      padding: 2%;
      .avatar {
        height: auto;
        width: 80%;
      }
      .name {
        font-weight: bold;
        font-size: 1.3vw;
      }
      .job {
        font-size: 1vw;
      }
      .review-message {
        margin-top: 2%;
        font-size: 0.7vw;
        display: flex;
        justify-content: start;
      }
    }
    .quotes {
      width: 1.7vw;
      margin-top: 4vh;
      margin-left: -1vh;
    }
  }
}
