/* UserRecommandation.css */

.cards-container {
  padding: 16px;
  width: 350px;   
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 250px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  
  .card h4 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 8px;
  }
  
  .card p {
    font-size: 14px;
    margin: 0;
    margin-bottom: 4px;
  }
  
  .card p:last-child {
    margin-bottom: 0;
  }
  
  /* styles.css */
.success-notification {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  display: none;
}
.custom-image {
  margin: 0 10px; /* Adjust the margin value as per your preference */
}

  