.animated-text {
	animation-name: slideIn;
	animation-duration: 7s;
	font-weight: bold;
	font-size: 280%;
	 /* or use RGB value: rgb(135,206,250) */
  }
  
  @keyframes slideIn {
	0% {
	  opacity: 0;
	  transform: translateX(-100%);
	}
	100% {
	  opacity: 1;
	  transform: translateX(0);
	}
  }

  .button1{
	
	margin-right: auto;

  }

  