.content-wrapper {
  .user-dashboard {
    margin-top: 5%;
    font-size: 10%;
    width: 80%;
    color: rgb(151, 151, 150);
    margin-left: 10%;
    height: 100%;
    .user-details-row {
      margin-bottom: 5%;
      font-size: 1300%;
      .ant-avatar {
        border: 2px solid orange;
      }
      .main-account-row {
        color: rgb(53, 53, 53);
        font-size: 70%;
      }
    }
  }
}
