.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th {
  background-color: #f5f5f5;
  font-weight: bold;
  padding: 8px;
  text-align: left;
}

.custom-table td {
  padding: 8px;
}

.custom-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.custom-table tr:hover {
  background-color: #e9e9e9;
}
