.share-with-friends {
  .title-row {
    margin-top: 16px;
    font-size: 0.9em;
  }
  .copy-link {
    margin-top: 16px;
    font-size: 0.85em;
    margin-bottom: 4px;
  }
  .copied {
    color: #ff5300bd;
  }
  .invitation-row {
    margin-top: 16px;
    font-size: 0.85em;
    margin-bottom: 4px;
  }
  .image {
    cursor: pointer;
    width: 85%;
  }
  .input {
    color: #ff5300bd;
    .ant-input {
      border-color: #ff5300bd;
    }
  }
}
