.resume-page {
  width: 80%;
  border: 1px solid black;
  margin-left: 100px;
  .resume {
    .left-column-container {
      background-color: #f2f3f4;

      border-right: 10px solid #025bb4;
      box-shadow: 13px 0 41px -2px #857a7a52;
      .left-column-content {
        padding: 12%;
        font-size: 110%;
        .row {
          margin-top: 6%;
          margin-bottom: 9%;
          font-weight: bold;
          font-size: 180%;
        }
        .avatar-container {
          margin-top: 5%;

          .ant-avatar {
            border: 4px solid #025bb4;
          }
        }
      }
    }
    .right-column-container {
      .right-column-content {
        .user-name-row {
          font-size: 600%;
          margin-left: 9%;
          .firstName {
            color: #025bb4;
          }
          .lastName {
          }
        }
        .user-work {
          font-size: 300%;
          color: gray;
        }
        .second-section-row {
          .skills-row {
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            background-color: #ededeb;
            height: 32vh;
            .second-section-wrapper {
              margin-left: 19%;
              .skills-title {
                font-weight: bold;
                font-size: 180%;
                margin-top: 20px;
                margin-bottom: 20px;
              }
            }
          }
          .links-languages-row {
            .title {
              font-weight: bold;
              font-size: 180%;
              margin-top: 4%;
              margin-bottom: 4%;
            }
          }
        }
        .experience-row {
          margin-left: 9%;
          .title {
            font-weight: bold;
            font-size: 180%;
            margin-top: 4%;
          }
          .work-row {
            margin-top: 4%;
            .company {
              font-size: 130%;
            }
            .job-tile {
              color: rgb(88, 86, 86);
              font-size: 110%;
            }
            .description {
              color: gray;
              font-size: 90%;
            }
          }
        }
        .education-row {
          margin-top: 2%;
          margin-bottom: 2%;
          margin-left: 9%;
          .title {
            font-weight: bold;
            font-size: 180%;
            margin-top: 20px;
          }
          .work-row {
            margin-top: 5%;
            color: rgb(56, 56, 56);
            .work-name{
              font-weight: 600;
            }
            .company {
              font-size: 120%;
              color: black;
              .location{
              font-size: 80%;
              color: rgb(88, 86, 86);
              margin-top: 1%;
              }
            }
            .job-tile {
              color: rgb(88, 86, 86);
              font-size: 110%;
            }
            .description {
              color: gray;
              font-size: 90%;
            }
          }

          .training-col{
            background-color: rgb(233, 232, 232) ;
            padding: 0% 3% 0% 0%;
            border-radius: 10px 0px 0px 10px;
            padding: 0% 0% 0% 5%;
          }
        }

        
      }
    }
  }
}
