
.separator-container {

  height: 10em !important;
  background: linear-gradient(to right, #00264a, #004c6f);
  background-image: url("../../../../../assets/homePage/SepupHomePage.png"); 
  background-size: 100% 17em;
  background-repeat: 'no-repeat';
  width: 100%;
  color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  .IMG-Follow{
    max-width: 40%;
    margin-left:25% ;
  }
  .follow-title{
    font-size: 100%;
    font-weight: 700;
    color: #9900ff;
  }
  .follow-Subtitle{

    font-size: 80%;
    font-weight: 600;
    color: #414041;
    margin: -9% 0% 0% 0%;
  }
  .slider-button{
    width: 40%;
    border-radius: 50px;
    background-color: rgba(153,0,255,255);
    color:white;
    box-sizing: content-box;
    height:15px;
    font-size:50%;
    margin: 0% 0% 0% 22%;
  }
}
@media (min-width: 1200px) {
.separator-container {
  background: linear-gradient(to right, #00264a, #004c6f);
  background-image: url("../../../../../assets/homePage/SepupHomePage.png"); 
  background-size: 100% 27em;
  background-repeat: 'no-repeat';
  height: 20em !important;
  width: 100%;
  color: chocolate;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10%;
  .IMG-Follow{
    max-width: 75%;
    margin-left:37% ;
  }
  .follow-title{
    font-size: 150%;
    font-weight: 700;
    color: #9900ff;
  }
  .follow-Subtitle{

    font-size: 100%;
    font-weight: 600;
    color: #414041;
    margin: -9% 0% 0% 0%;
  }
  .slider-button{
    width: 55%;
    border-radius: 50px;
    background-color: rgba(153,0,255,255);
    color:white;
    box-sizing: content-box;
    height:30px;
    font-size:80%;
    margin: 0% 0% 0% 16%;
  }
}
}
