.collapse-wrapper-user-dashboard {
  padding: 2%;
  .ant-collapse-header {
    align-items: center !important;
    color: #bfbfbf !important;
    width: 100%;
    border-radius: 15px;
  }
  .ant-collapse {
    .ant-collapse-item {
      border-color: none;
    }
    margin-bottom: 24px;
    overflow: hidden;
    background-color: white;
    border: 0px;
    border-radius: 10px;
    border: 1px solid #b4b4b4;
    width: 100%;
  }
  .dot-pending {
    height: 10px;
    width: 10px;
    background-color: rgb(243, 137, 91);
    border-radius: 100%;
    display: inline-block;
  }

  .send-reminder-button {
    border-color: orange;
    background-color: orange;
    border-radius: 17px;
    font-size: 60%;
    box-sizing: content-box;
    height: 60%;
    width: 25%;
    font-weight: 600;
    color: white;
  }

  .button-container-calendar-request {
    justify-content: center;
    .request-scuedual-button {
      border-color: #c359e3;
      background-color: #c359e3;
      border-radius: 17px;
      font-size: 60%;
      left: 40%;
      width: 40%;
      box-sizing: content-box;
      height: 15%;
      font-weight: 600;
      color: white;
      margin: 1%;
    }
  }
}
