.resume-preferences {
  .resume-row {
    margin-top: 5%;
  }
  .upload-resume-component {
    margin-top: 7%;
  }
  .career-lab {
    margin-top: 3%;
  }
  .button-style {
    margin-top: 3%;
    border-radius: 5px;
    border-color: orange;
    background-color: orange;
  }
}
