.pdf-link {
    text-decoration: none;
  }
  
  .pdf-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 150px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .pdf-file:hover {
    background-color: #e9e9e9;
  }
  
  .pdf-file-icon {
    font-size: 48px;
    color: #e74c3c;
    margin-bottom: 10px;
  }
  
  .pdf-file-name {
    font-size: 14px;
    color: #333;
    text-align: center;
  }
  
  .action-space {
    margin-left: 10px; /* Adjust the value as needed */
  }

  .video-actions {
    display: flex;
    justify-content: center;
  }
  
  .action-container {
    display: flex;
    align-items: center;
  }
  
  .action-space {
    margin-left: 10px; /* Adjust the value as needed */
  }

  .comments {
    margin-top: 20px;
  }
  


.comment-textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333;
  box-sizing: border-box;
  resize: vertical;

}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
}
  .comments .font-bold {
    font-weight: bold;
  }
  
  .comments .text-2xl {
    font-size: 1.5rem;
  }
  
  .comments .text-blue-400 {
    color: #3b82f6;
  }
  
  .comment-list {
    margin-top: 10px;
  }
  
  .comment-content {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .comment-avatar {
    margin-right: 10px;
  }
  
  .comment-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .comment-text-container {
    flex: 1;
  }
  
  .comment-details {
    display: flex;
    align-items: center;
  }
  
  .comment-username {
    margin-right: 5px;
    font-weight: bold;
  }
  
  .comment-date {
    font-size: 0.8rem;
    color: #888;
  }
  
  .comment-text {
    margin-bottom: 10px;
  }
  
  .comment-actions-comment {
    margin-top: 10px;
    display: flex;
  }
  
  
  .comment-actions-comment button {
    background-color: transparent;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .comment-actions-comment button:hover {
    color: #000;
  }
  
  .comment-action-comment .comment-action-icon {
    margin-left: 35px;
  }
  
  .edit-comment-button {
    background-color: transparent;
    border: none;
    color: #3b82f6;
    font-size: 0.8rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .edit-comment-button:hover {
    color: #1f4e8c;
  }
  
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .comment-button {
    background-color: #578171;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  
  .close-button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }

  .button-spacing {
    width: 10px; /* Adjust the spacing width as needed */
  }


  
  .font-bold {
    font-weight: bold;
  }
  
  .text-2xl {
    font-size: 20px;
  }
  
  .text-blue-400 {
    color: #1a56db;
  }
  

  
  .comment-author {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .comment-time {
    color: #777777;
    font-size: 12px;
    margin-bottom: 5px;
  }
  
  .comment-actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .comment-actions button {
    background-color: transparent;
    border: none;
    color: #777777;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .comment-actions button:hover {
    text-decoration: underline;
  }
  
  .comment-actions button.active {
    color: #1a56db;
  }

  .comment-info {
  display: flex;
  align-items: center;
}

.comments .font-bold {
  font-size: 24px;
  color: #0066ff;
}

.comment-user {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.comment-textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-buttons {
  margin-top: 10px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-content {
 
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;

}

.comment-text {
  margin-top: 5px;
}

.comment-date {
  font-size: 12px;
  color: #777;
}

.comment-avatar {
  margin-right: 10px;
}

.form-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 12px;
}

.form-button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #45a049;
}

.animate-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: popup 0.3s ease;
}

.animate-scale {
  animation: scale 0.3s ease;
  transform-origin: center center;
}



@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


/* Optional styles for the scrollbar */
.comment-modal::-webkit-scrollbar {
  width: 6px;
}

.comment-modal::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}

.comment-modal::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.avatar-image {
  width: 40px; /* Adjust the size as per your requirements */
  height: 40px;
}

.rounded-avatar {
  border-radius: 50%;
}

.comment-actions {
  margin-top: 10px; /* Add margin to create spacing between the buttons */
}

.comment-action {
  margin-right: 20px; /* Add margin between the like and dislike buttons */
}
.comment-actions-comment{
  margin-top: 10px; /* Add margin to create spacing between the buttons */
}

.comment-action-comment{
  margin-right: 20px; /* Add margin between the like and dislike buttons */

}

@keyframes heartBeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.heart-icon {
  color: gray;
  transition: color 0.2s ease-in-out;
}

.heart-icon.heartAnimation {
  animation-name: heartBeat;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.heart-icon.liked {
  color: pink;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Add margin to create spacing */
}



.comment-button {
  margin-right: 10px; /* Add margin to create space between buttons */
}

.comment-button:last-child {
  margin-right: 0; /* Remove margin for the last button */
}

.close-button {
  margin-right: 10px;
}

.icon-button {
  margin-right: 20px;
}

.replies {
  margin-top: 20px;
  margin-left: 60px;
}

.replies button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #4299e1;
  text-decoration: underline;
}

.replies-content {
  margin-top: 10px;
  padding-left: 20px;
  border-left: 1px solid #ccc;
}

.reply {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.reply .avatar-image {
  margin-right: 10px;
}

.reply .text-xl {
  font-size: 1.2rem;
}

.reply .comment-date {
  font-size: 0.8rem;
  color: #888;
  margin-top: auto;
}

.reply-input {
  margin-top: 10px;
}

.reply-input input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.reply-input button {
  background-color: #4299e1;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}

.reply-input button:hover {
  background-color: #3182ce;
}

button:focus {
  outline: none;
}

.sequence {
  display: inline-block;
  margin-right: 10px;
}

.sequence-label {
  margin-top: 5px;
  text-align: center;
}

.comment-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.comment-label {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
}

.comment-icon {
  color: #999;
  cursor: pointer;
  transition: color 0.3s ease;
}

.comment-icon:hover {
  color: #555;
}















  

 
  