.sign-in-button{
    width: 15vw;
    border-radius: 50px;
    background-color: #525dbf;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5vh;
}