.mentors-section-container {
  background-color: #525dbf29;
  width: 100%;
  height: 90vh !important;

  .image-circle {
    width: 65%;
    position: relative;
    z-index: 10;
    left: 9.5vw;
    top: 78px;
  }
  .image-line {
    width: 35%;
    position: relative;
    z-index: 10;
    left: 17vw;
    top: 97px;
  }
  .image-line2 {
    width: 40%;
    position: relative;
    z-index: 10;
    left: 62.5vw;
    top: 25vh;
    transform: rotate(50deg);
  }
  .image-star {
    width: 40%;
    position: relative;
    z-index: 10;
    right: 7vw;
    top: 33.5vh;
  }
  .image-star2 {
    width: 40%;
    position: relative;
    z-index: 10;
    left: 42vw;
    top: 90px;
  }
  .title1 {
    font-weight: 650;
    font-size: 2.7vw;
    line-height: 1em;
  }
  .title2 {
    color: #525dbf;
    font-weight: 650;
    font-size: 2.7vw;
    line-height: 1em;
  }
  .subtitle {
    margin-top: 1%;
    font-weight: 500;
    font-size: 187%;
    color: rgb(109, 108, 108);
    line-height: 1em;
  }
  .containerGris {
    position: absolute;
    margin-top: 4%;
    width: 100%;
    height: 20%;
    .rate-stars {
      font-size: 0.9vw;
    }
    .mentor-container {
      background-color: #ffffff;
      min-height: 100%;
      max-width: 17%;
      border-radius: 10px;
      padding: 0 0 2% 0;
      margin-left: 2%;
      box-shadow:  0 0 10px  rgba(168, 167, 167, 0.6);
      -moz-box-shadow: 0 0 10px  rgba(187, 187, 187, 0.6);
      -webkit-box-shadow: 1px 7px 10px rgba(207, 207, 207, 0.6);
      -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
      .image {
        width: 100%;
        border-radius: 10px 10px 0 0;
      }
      .mentor-name {
        margin-left: 5%;
        font-size: 0.8vw;
        color: rgb(126, 68, 192);
        font-weight: 600;
      }
      .mentor-job {
        margin-left: 5%;
        font-size: 0.5vw;
        color: gray;
        font-weight: 600;
      }
      .mentor-expertise {
        margin-top: 10%;
        margin-left: 18%;
        font-size: 0.5vw;
        color: gray;
        font-weight: 600;
      }
      .mentor-experience {
        margin-left: 20%;
        font-size: 0.5vw;
        color: gray;
        font-weight: 600;
      }
    }
  }
}
