.container-Community {
  padding: 5%;
  display: flex;
  align-items: stretch;
  background-color: #f7f7f7;

  .image-container-Community {
    border-radius: 5%;
  }

  .container-text {
    color: rgb(90, 86, 86);
    font-size: 80%;
    line-height: 1em;
    text-align: left;
  }

  .container-title {
    color: #164b70;
    font-weight: bold;
  }

  .row-divider {
    .ant-divider {
      border: 1px solid #164b70;
      margin: 0% 0% 3% 0%;
      background-color: #164b70;
      width: 60%;
    }
  }

  .ant-divider {
    border: 1px solid #164b70;
    background-color: #164b70;
  }
  .ant-divider-horizontal {
    min-width: 60%;
    min-height: 60%;
    border: 1px solid #e07475;
  }
  .row-divider-p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 10px;
    .ant-divider-vertical {
      min-height: 60%;
      top: -20%;
      margin: 0% 0% 0% 0%;
      border: 1px solid #e07475;

    background-color: #e07475;
    }
    .icon-vertical {
      background-color: #f0e6e7;
      border-radius: 5%;
      margin: 0px 0px -5px 5px;
    }
    .text-item {
      top: 5px;
    }
  }
  .col-divider-p {
    padding: 0px 0px 0px 10px;
  }

  .ant-btn-primary {
    margin-top: 7%;
    background-color: #164b70;
    height: 10%;
    padding: 0% 1%;
    border: none;
    border-radius: 10px;
    font-size: 90%;
    font-weight: bold;
    padding: 0% 1%;
  }

  .Community-subtitre {
    color: #164b70;
  }
  .row-button {
    background-color: #164b70;
    width: 30%;
  }
  
.Container-all{
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  width: 100%  ;

    .item1 {
      flex: 1;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-flow: row nowrap;


  .icon-vertical {
    background-color: #f0e6e7;
    border-radius: 5%;
    margin: 0px 0px -5px 5px;
  }
  .text-item {
    display: flex;
    flex-flow: row wrap;
    height: 110%;
    font-size: 10px;
    width: 25%;
    left: 5%;
    color: gray;
  }
          }
    .item2 {
      flex: 1;
      width: 100%;
      display: flex;

    margin: 10px;
      justify-content: flex-start;

  background-color: #de18b0;
      }
      .item3 {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        }
}

}
