.footer-container {
  background-color: #333333;
  height: 50vh;
  font-size: 1.3vw;
  color: white;
  line-height: 5vh;
  font-weight: 400;
  .container1 {
    height: 35vh;
    padding: 8vh 6vw;
    margin-left: 10%;
    .col1 {
      font-size: 1vw;
      line-height: 3vh;
      .item-4-img {
        width: 100px;
        padding: 0% 0% 15% 0%;
      }
    }
  }
  .ant-divider {
    border: 1px solid #164b70;
    margin: 0% 8%;
    background-color: #164b70;
    height: 3px;
  }
  .ant-divider-horizontal {
    min-width: 80%;
    width: 80%;
  }

  .container2 {
    border-top: solid 2px #164b70;
    padding: 2% 0%;
    .text {
      font-size: 0.8vw;
      color: white;
    }
  }
}
