.mentor-lab-page {
  position: relative;
  width: 100%;
  .mentor-lab-content {
    width: 100%;
    position: absolute;
    z-index: 2;
    .slide-mentorLab {
      height: 26em;
      padding: 5%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to right, #fdfae6, #efdec7);
      background-image: url("../../../assets/mentorLab/slider.png");
      background-size: 100% 26em;
      background-repeat: "no-repeat";
      .slider-subtitre {
        color: rgba(254, 152, 22, 255);
        font-size: 3em;
        height: 2em;
        .p1 {
          color: #9900ff;
          font-weight: 700;
        }
        .p2 {
          color: #333333;
          font-weight: bolder;
          font-size: x-large;
          font-weight: 600;
        }
      }
    }
    .row-wrapper {
      width: 100%;
      .filters-row {
        margin-left: 15%;
        width: 100%;
        border-radius: 20px;
        box-shadow: 2px 2px 5px 1px #bfbfbf;
        background-color: #f5f5f5;
        height: 10em;
        width: 70%;
        margin-top: -3%;
        position: absolute;
        z-index: 3;
        padding: 2%;

        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
          box-shadow: 2px 2px 5px 1px #bfbfbf;
          background-color: #f5f5f5;
          width: 19vh;
        }
        .first-row {
          margin-bottom: 2%;
        }
        .filter-button {
          border-radius: 20px;
          width: 12vh;
          box-shadow: 2px 2px 5px 1px #bfbfbf;
        }
        .search-button {
          border-color: #9900ff;
          background-color: #9900ff;
          width: 12vh;
        }
      }
    }
    .mentors-row {
      margin-top: 17%;
      padding-left: 10%;
      padding-right: 10%;
      .mentor-column {
        box-shadow: 2px 2px 5px 1px #bfbfbf;
        margin-bottom: 8%;
        font-size: 72%;
        min-height: 34em;
        border-radius: 25px;
      }
      .image-wrapper {
        position: relative;
        .conatiner-on-image {
          position: absolute;
          z-index: 2;
          width: 100%;
          .heart-row {
            color: red;
            margin-top: 2%;
            margin-right: 2%;
            font-size: 220%;
          }
          .row-container {
            margin-top: 22vh;
            margin-left: 3%;
            background-color: rgb(0 0 0 / 21%);
            border-radius: 7px 5px 24px 0px;
            .role {
              color: white;
              font-size: 106%;
            }
            .name {
              color: white;
              font-weight: bold;
              font-size: 190%;
            }
          }
        }
      }
      .mentor-details {
        padding: 10% 0 10% 10%;
      }
      .mentor-profile-button {
        border-radius: 20px;
        border-color: #9900ff;
        background-color: #9900ff;
        box-shadow: 2px 2px 5px 1px #bfbfbf;
        margin-bottom: 5%;
      }
    }
  }
}
