.rowContainer1{ 
  height: 25em;width: 100%;
  .row-image1{
    max-width: 85%;
    margin: -3% 0% 0% -10%;
    padding: 10%;
  }
  .slider-subtitre{
    color:rgba(153,0,255,255);
    font-weight: 650;
    word-spacing: 1px;
    line-height :18%;
    font-size:2em;
    height: 2em;
    
  }
  .slider-titre{
    color: black;
    font-size: 110%;
    margin: 3% 0%;
    font-weight:normal;
    .p1{
      margin: -10% 0% -10% 0%;
      font-weight: 600;
      word-spacing: 2px;
      font-size: 110%;
      }
  }
  .slider-para{

      line-height: 40%;
      color:#484848;
      font-weight: 500;
      font-size:0.7em;
      height: 2em;
      margin: 3% 0% 0% 0%;
    }
    .slider-button{
      width: 21%;
      border-radius: 50px;
      background-color: rgba(153,0,255,255);
      color:white;
      box-sizing: content-box;
      height:20px;
      font-size:70%;
      margin: 7% 0% 0% 0%;
    }
}

@media (min-width: 1200px) {
  .rowContainer1{ 
    height: 37em;width: 100%;
    .row-image1{
      max-width: 85%;
      margin: 0% 0% 0% -15%;
      padding: 15%;
    }
    .slider-subtitre{
      color:rgba(153,0,255,255);
      font-weight: 650;
      word-spacing: 1px;
      line-height :18%;
      font-size:270%;
      height: 2.5em;
      
    }
    .slider-titre{
      color: black;
      font-size: 150%;
      margin: 0% 0% 3% 0%;
      font-weight:normal;
      .p1{
        margin: -10% 0% -10% 0%;
        font-weight: 600;
        }
    }
    .slider-para{
      line-height: 40%;
      color:#484848;
      font-weight: 500;
      font-size:1em;
      height: 1em;
      margin: 3% 0% 0% 0%;
      }
      .slider-button{
        width: 27%;
        border-radius: 50px;
        background-color: rgba(153,0,255,255);
        color:white;
        box-sizing: content-box;
        height:40px;
        font-size:100%;
        margin: 7% 0% 0% 0%;
      }
  }
}