.course-content {
  display: flex;
  flex-direction: column;
 
  
}

.course-item {
    display: flex;
    align-items: center;
    margin-top: 5px;    /* Adjust the top margin value as needed */
    margin-bottom: 5px; /* Adjust the bottom margin value as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  

.icon {
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}

.text {
  font-weight: bold;
}

/* Replace the font-awesome CSS link with the actual link to Font Awesome CSS file */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
