.top-bar {
  display: "flex";
  justify-content: center;
  height: 12vh;
  .top-bar-header {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 1% 4%;
    .logo {
      margin-left: 3%;
    }
    .menu-container {
      display: "flex";
      flex-flow: row nowrap;
      justify-content: center;
      font-weight: 500;
      .Lab {
        font-size: 2vh;
        margin-left: 2%;
        font-weight: 500;
        .menu-button {
          background-color: white;
          border: none;
          .top-bar-item {
            font-weight: 500;
            font-size: 2vh;
          }
        }
      }
    }
    .sign-in-button {
      width: 12vw;
      border-radius: 50px;
      background-color: #525dbf;
      height: 5vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1.5vh;
      .button-text {
        color: white;
        font-size: 0.8vw;
        font-weight: 400;
      }
    }
    .user-welcome-message {
      color: #525dbf;
      font-weight: 550;
    }
    .user-avatar {
      border: solid 2px #525dbf;
    }
  }
}
.ant-dropdown-menu  {
  position: relative !important;
  margin: 0;
  padding: 10px 10px;
  text-align: left;
  list-style-type: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
  font-weight: 400;
  font-size: 18px !important;
  line-height: 30px;
  .ant-dropdown-menu-item,
  .ant-dropdown-menu-submenu-title {
    font-size: 90% !important;
  }
}
