.dashboard-page-layout {
  .dashboard-page-content {
    padding: 1% 8% 15% 1%;
    overflow-x: hidden !important;

    .basic-info {
      height: 50%;
      margin-left: -4px;
      width: 100%;

      .statistics-col {
        background-color: white;
        color: black;
        font-size: 800%;
        height: 17vh;
        border-radius: 15px;
        margin-left: 2%;
        padding: 1%;
        .first-row {
          color: black;
          font-size: 110%;
        }
        .second-row {
          color: rgb(42, 42, 92);
          font-size: 270%;
          font-weight: bold;
        }
        .third-row {
          font-weight: lighter;
          color: gray;
        }
        .image-col {
          .picture1 {
            background-color: blue;
          }
          .picture2 {
            background-color: rgb(223, 105, 203);
          }
          .picture3 {
            background-color: rgb(138, 106, 212);
          }
          .picture4 {
            background-color: rgb(78, 182, 130);
          }
        }
      }

      .Dash-All-Box {
        padding: 5%;
        height: 100%;
        width: 100%;
        margin: 0 5px;
        .statistics-col2 {
          background-color: #ffffff;
          border-radius: 15px;
          width: 21%;
          height: 100%;
          padding: 2%;
          margin: 2%;
          .first-row2 {
            font-size: 800%;

            font-weight: 600;
            color: #1d1d1d;
          }
          .second-row2 {
            font-size: 2000%;
            font-weight: 600;
            color: #43597d;
          }
          .third-row2 {
            color: #bcc6d2;
            font-size: 700%;
          }
          
          .image-col2 {
            .ant-image-img.picture12 {
              background-color: #1034a8;
              border-radius: 17px;
              padding: 30%;
              width: 22em;
            }
            .picture22 {
              background-color: rgb(223, 105, 203);
            }
            .picture32 {
              background-color: rgb(138, 106, 212);
            }
            .picture42 {
              background-color: rgb(78, 182, 130);
            }
          }
        }
      }

      .second-section {
        margin-top: 5%;

        min-height: 100vh;
        .outlet-col {
          background-color: white;
          border-radius: 10px;
        }
        .row-wrapper-1 {
          height: 45%;
          background-color: white;
          border-radius: 15px;
          width: 100%;
          .title {
            margin: 5% 5% 0 5%;

            font-size: 1000%;
            color: black;
            font-weight: bold;
          }
          .graph-row {
            height: 80%;
            margin: 10% 9% 5% 5%;
            width: 100%;
          }
        }

        .row-wrapper-2 {
          margin-top: 10%;
          height: 45%;
          background-color: white;
          border-radius: 15px;
          width: 100%;
          .title {
            margin: 5% 5% 0 5%;

            font-size: 1000%;
            color: black;
            font-weight: bold;
          }
          .graph-row {
            height: 80%;
            margin: 10% 9% 5% 5%;
            width: 100%;
          }
        }

        .friends-column {
          border-radius: 15px;
          background-color: white;
          .friends-content-wrapper {
            margin: 30px 2% 2% 8%;
            .title {
              font-size: 1000%;
              font-weight: bold;
              color: rgb(113, 119, 113);
              margin: 10% 0 20% 0;
            }
            .friend-name {
              font-size: 800%;
            }
            .ant-avatar {
              border: 2px solid rgb(231, 157, 18);
            }
          }
        }
      }
    }
  }
}
