.date-picker {
  .react-datepicker {
    font-size: 14px !important;
    color: white !important;
    border-color: orange !important;
    border-radius: 10px;

    &__input-container input {
      border: 1px solid gray;
      border-radius: 5px;
      height: 30px;
      width: 100%;
    }
    &__header {
      background-color: Orange !important;
      border-color: orange !important;
      padding-top: 0px !important;
      border: none !important;
      color: white !important;
    }
    &__current-month {
    }
    &__day-name {
      font-size: 14px !important;
    }

    &__day {
      font-size: 13px !important;

      &--keyboard-selected,
      &--selected {
        border-radius: 25px !important;
        background: orange !important;
      }
      &--disabled {
        // color: #c7c7c7 !important;
      }
    }
  }
}
