.rowContainerJoin {
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(circle, #fcfcfd, #efeff0,#f0f1f2);

    .Sec1 {
        height: 32%;
        width: 100%;
        text-align: center;

        .Sec1Grand {
            height: 70%;
            width: 100%;
            color: #525DBF;
            font-size: 360%;
            font-weight: 725;
            word-spacing: 0.5px;
            padding: 4% 0% 0% 0%;
            line-height: normal;
        }

        .Sec1Petit {
            height: 30%;
            width: 100%;
            font-size: 145%;
            color: #4d4d4d;
            padding: 0% 0% 0% 0%;
        }
    }

    .Sec2 {

        .Sec2Gauche {

            .Sec2Haut {
                // height: 40%;
            

                .Circle {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 11vw;
                    height: 11vw;
                    background-color: white;
                    border-radius: 100%;
                    box-shadow:  0 0 10px  rgba(168, 167, 167, 0.6);
                    -moz-box-shadow: 0 0 10px  rgba(187, 187, 187, 0.6);
                    -webkit-box-shadow: 1px 7px 10px rgba(207, 207, 207, 0.6);
                    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);

                    .img {
                        height: 130px;
                        width: 100%;
                    }

                    .img2 {
                        height: 87%;
                        width: 95%;
                        padding: 8% 0% 0% 10%;
                    }

                    .img3 {
                        height: 83%;
                        width: 85%;
                        padding: 15% 0% 0% 0%;
                    }
                }
            }

            .Sec2M {

                text-align: center;
                padding: 6% 0% 0% 0%;
                .title {text-align: center;
                    color: #525DBF;
                    font-weight: 700;
                    font-size: 200%;
                }
            }

            .Sec2Para {
                padding: 5% 0% 0% 0%;
                text-align: center;
                .Para {
                    color: #4e4d4f;
                    font-weight: 500;
                    font-size: 120%;
                }
            }
        }
    }

}